
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header .header-area{
    height: 100px;
    border: 1px solid red;
}

header .line{
    height: 10px;
    background-color: #117050;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img{
    width: 64px;
}

header .header-right{
    display: flex;
    align-items: center;
}

.input-search input{
    font-size: 16px;
    padding: 7px 10px;
    border: 1px solid #999999;
    outline: none;
}