
@media (min-width: 769px) and (max-width: 1140px){
    .container{
        padding: 0 20px;
    }
}

@media (min-width: 426px) and (max-width: 768px){
    .container{
        padding: 0 20px;
    }

    .area1{
        grid-template-columns: 3fr 2fr;
    }

    .area2{
        grid-template-columns: 2fr 3fr;
    }

    .area3{
        grid-template-columns: 3fr 2fr;
    }
}

@media (max-width: 425px){
    .container{
        padding: 0 20px;
    }

    .input-search input{
        max-width: 120px;
    }

    .banner h1{
        font-size: 50px;
        line-height: 50px;
        
    }

    .banner-images img{
        width: 80px;
        border: 3px solid #117050;
        border-radius: 50%;
        margin-right: 10px;
    }

    .area1, .area2, .area3{
        grid-template-columns: 1fr;
    }

    .area1 .area1--content, .area2--content, .area3--content{
        padding: 40px;
    }
}